## FUNCTION TO GET MNS IDS in Columns

In [59]:
import pandas as pd
import re

def fetch_mns_ids(string):
    mns_ids = re.findall(r'MNS\D*\s*\w+', string)
    standard_mns_ids=[]
    for mns_id in mns_ids:
        mns_id = re.sub(r'MNS\s*', 'MNS', mns_id)
        
        numeric_match = re.search(r'MNS\D*(\d+)', mns_id)
        if numeric_match:
            digits = numeric_match.group(1)
            # Ensure the number of digits is 7
            digits = digits.zfill(7)
            # Reconstruct the MNS ID with padded zeros
            mns_id = 'MNS' + digits
            standard_mns_ids.append(mns_id)
        else:
            standard_mns_ids.append('')
    
    return standard_mns_ids



def get_mns(df):
    df.fillna('nan',inplace=True)
# Loop through each column
    for column in df.columns:
        # Check if 'MNS' is present anywhere in the column
        if df[column].astype(str).str.contains('MNS').any():
            # Apply the function to extract MNS IDs
            mns_ids = df[column].apply(fetch_mns_ids)

    df['MNS IDs']=mns_ids
    max_mns_ids_count = max(len(ids) for ids in mns_ids)
    padded_mns_ids = [ids + [np.NaN] * (max_mns_ids_count - len(ids)) for ids in mns_ids]
    for i in range(max_mns_ids_count):
        df[f'MNS ID{i+1}'] = [ids[i] if ids and len(ids) > i else None for ids in padded_mns_ids]
    

    df.drop(columns='MNS IDs',inplace=True)

    return df

In [63]:
get_mns(clean_dfs[0])

,Group Name:,Group Number(or TBD),Request Date:,Effective Date or NSB:,Benefits Status,Plan Information,CSP,Base (Similar standard plan) Tracking ID,No of Employees Enrolled:,"Group State (NY,NJ,CT)",Market (Large or Small),Product,Access,Network,PCP/Specialist OV Copay,ER Cost Share,Hospital Cost Share,IN Deductible,IN Coinsurance %,IN Coinsurance Limit,IN Out of Pocket Maximum,OON Deductible,OON Coinsurance %,OON Coinsurance Limit,OON Out of Pocket Maximum,MNS ID1
0,Tesla Inc,554658,2020-04-02 00:00:00,2020-01-03 00:00:00,Benefits Currently in Place,Current Plan 1: P0145445 BUY UP,Freedom HMO 2323,nan,23,NJ,Large,HMO,Non Gated,Freedom,30/45,150,IP: 0 after deductible OP: 0 after deductible,2500/5000,100,3000/6000,3000/6001,2500/5002,92,32000/50002,32000/50002,NaN
1,Tesla Inc,554658,2020-04-02 00:00:00,2020-01-03 00:00:00,Benefits Currently in Place,Current Plan 2: P0145445 BUY UP,Freedom HMO 2324,nan,25,NJ,Large,HMO,Non Gated,Freedom,30/50,160,IP: 0 after deductible OP: 0 after deductible,2500/5000,90,32000/50000,32000/50000,2500/5003,93,32000/50003,32000/50003,NaN
2,Tesla Inc,554658,2020-04-02 00:00:00,2020-01-03 00:00:00,Benefits Currently in Place,Current Plan 3: P0145445 BUY UP,Freedom HMO 2325,nan,45,NJ,Large,HMO,Non Gated,Freedom,0/0,nan,IP: 0 after deductible OP: 0 after deductible,2500/5001,91,32000/50001,32000/50001,2500/5004,94,32000/50004,32000/50004,NaN
3,Tesla Inc,554658,2020-04-02 00:00:00,2020-01-03 00:00:00,Requested Benefits,Current Plan 1: P0145445 BUY UP,Freedom HMO 2326,KACTOHP58- MNS000025,36,NJ,Large,HMO,Non Gated,Freedom,30/55,nan,IP: 0 after deductible OP: 0 after deductible,2500/5002,92,32000/50002,32000/50002,2500/5002,92,32000/50002,32000/50002,MNS0000025
4,Tesla Inc,554658,2020-04-02 00:00:00,2020-01-03 00:00:00,Requested Benefits,Current Plan 2: P0145445 BUY UP,Freedom HMO 2327,KACTOHP58- MNS000026,26,NJ,Large,HMO,Non Gated,Freedom,30/60,nan,IP: 0 after deductible OP: 0 after deductible,2500/5003,93,32000/50003,32000/50003,2500/5003,93,32000/50003,32000/50003,MNS0000026
5,Tesla Inc,554658,2020-04-02 00:00:00,2020-01-03 00:00:00,Requested Benefits,Current Plan 3: P0145445 BUY UP,Freedom HMO 2328,KACTOHP58- MNS000027,15,NJ,Large,HMO,Non Gated,Freedom,0/1,nan,IP: 0 after deductible OP: 0 after deductible,2500/5004,94,32000/50004,32000/50004,2500/5004,94,32000/50004,32000/50004,MNS0000027

In [150]:
xls=pd.ExcelFile(r"C:\Users\Subhadeep\Downloads\multi table oxford sheet (1).xlsx")

In [67]:
xls.sheet_names

['Tesla MNS 10-23',
 'MNS25,26,27',
 'ICICI MNS222',
 'ADP 2020 MNS 11',
 'EXL Inc MNS30 31 32',
 'Red MNS55 56 57']

## Regex
## MNS Format 1

'Tesla MNS 10-23'

In [135]:
import re

text = 'ADP MNS21-25'

# Extract the range
range_match = re.search(r'MNS\s*(\d+)-(\d+)', text)

if range_match:
    start_num = int(range_match.group(1))
    end_num = int(range_match.group(2))

    # Generate the list of values with leading zeros
    mns_values = [f'MNS{str(i).zfill(7)}' for i in range(start_num, end_num + 1)]
    print(mns_values)
else:
    print("No match found.")

['MNS0000021', 'MNS0000022', 'MNS0000023', 'MNS0000024', 'MNS0000025']

## MNS Format 2

In [144]:
import re

text = 'Tesla Inc MNS425 MNS23 MNS22'

# Define the regular expression pattern
pattern = r'(?<=MNS).*'

# Find the match using the pattern
match = re.search(pattern, text)

input_string = match.group()
output_list = [f'MNS{match.zfill(7)}' for match in re.findall(r'\d+', input_string)]


print(output_list)

['MNS0000425', 'MNS0000023', 'MNS0000022']

In [138]:
xls.sheet_names

['Tesla MNS 10-23',
 'MNS25,26,27',
 'ICICI MNS222',
 'ADP 2020 MNS 11',
 'EXL Inc MNS30 31 32',
 'Red MNS55 56 57']

In [143]:
for sheet in xls.sheet_names:
    text=str(sheet)
    if '-' in str(sheet):
        #text=sheet
        range_match = re.search(r'MNS\s*(\d+)-(\d+)', text)


        if range_match:
            start_num = int(range_match.group(1))
            end_num = int(range_match.group(2))

    # Generate the list of values with leading zeros
            mns_values = [f'MNS{str(i).zfill(7)}' for i in range(start_num, end_num + 1)]
            print(mns_values)
        else:
            print("No match found.")
            
    else: #checking for format 2
        pattern = r'(?<=MNS).*'

# Find the match using the pattern
        match = re.search(pattern, text)

        input_string = match.group()
        output_list = [f'MNS{match.zfill(7)}' for match in re.findall(r'\d+', input_string)]
    

        print(output_list)

['MNS0000010', 'MNS0000011', 'MNS0000012', 'MNS0000013', 'MNS0000014', 'MNS0000015', 'MNS0000016', 'MNS0000017', 'MNS0000018', 'MNS0000019', 'MNS0000020', 'MNS0000021', 'MNS0000022', 'MNS0000023']
['MNS0000025', 'MNS0000026', 'MNS0000027']
['MNS0000222']
['MNS0000011']
['MNS0000030', 'MNS0000031', 'MNS0000032']
['MNS0000055', 'MNS0000056', 'MNS0000057']

In [146]:
import re

output_dict = {}

for sheet in xls.sheet_names:
    text = str(sheet)
    if '-' in text:
        range_match = re.search(r'MNS\s*(\d+)-(\d+)', text)

        if range_match:
            start_num = int(range_match.group(1))
            end_num = int(range_match.group(2))

            # Generate the list of values with leading zeros
            mns_values = [f'MNS{str(i).zfill(7)}' for i in range(start_num, end_num + 1)]
            output_dict[sheet] = mns_values
        else:
            output_dict[sheet] = "No match found."
    else:  # Checking for format 2
        pattern = r'(?<=MNS).*'

        # Find the match using the pattern
        match = re.search(pattern, text)

        if match:
            input_string = match.group()
            output_list = [f'MNS{str(match).zfill(7)}' for match in re.findall(r'\d+', input_string)]
            output_dict[sheet] = output_list
        else:
            output_dict[sheet] = "No match found."

output_dict

{'Tesla MNS 10-23': ['MNS0000010',
  'MNS0000011',
  'MNS0000012',
  'MNS0000013',
  'MNS0000014',
  'MNS0000015',
  'MNS0000016',
  'MNS0000017',
  'MNS0000018',
  'MNS0000019',
  'MNS0000020',
  'MNS0000021',
  'MNS0000022',
  'MNS0000023'],
 'MNS25,26,27': ['MNS0000025', 'MNS0000026', 'MNS0000027'],
 'ICICI MNS222': ['MNS0000222'],
 'ADP 2020 MNS 11': ['MNS0000011'],
 'EXL Inc MNS30 31 32': ['MNS0000030', 'MNS0000031', 'MNS0000032'],
 'Red MNS55 56 57': ['MNS0000055', 'MNS0000056', 'MNS0000057']}

In [165]:
fetched_sheets=[]
for key, values in output_dict.items():
    if 'MNS0000025' in values:
        required_sheet = pd.read_excel(r"C:\Users\Subhadeep\Downloads\multi table oxford sheet (1).xlsx",sheet_name=key)
        fetched_sheets.append(required_sheet)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Group Name:,Apple Inc,NaN,NaN,NaN,NaN,NaN
2,Group Number(or TBD),554658,NaN,NaN,NaN,NaN,NaN
3,Request Date:,2020-04-02 00:00:00,NaN,NaN,NaN,NaN,NaN
4,Effective Date or NSB:,2020-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN
5,Please Note: All items listed on this form are...,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Benefits Currently in Place,NaN,NaN,Requested Benefits,NaN,NaN
8,General Information,Current Plan 1: P0145445 BUY UP,Current Plan 2: P0145445 BUY UP,Current Plan 3: P0145445 BUY UP,Current Plan 1: P0145445 BUY UP,Current Plan 2: P0145445 BUY UP,Current Plan 3: P0145445 BUY UP
9,CSP,Freedom HMO 2323,Freedom HMO 2324,Freedom HMO 2325,Freedom HMO 2326,Freedom HMO 2327,Freedom HMO 2328
10,Base (Similar standard plan) Tracking ID,NaN,NaN,NaN,KACTOHP58- MNS000025,KACTOHP58- MNS000026,KACTOHP58- MNS000027
11,No of Employees Enrolled:,23,25,45,36,26,15
12,"Group State (NY,NJ,CT)",NJ,NJ,NJ,NJ,NJ,NJ
13,Market (Large or Small),Large,Large,Large,Large,Large,Large
14,Product,HMO,HMO,HMO,HMO,HMO,HMO
15,Access,Non Gated,Non Gated,Non Gated,Non Gated,Non Gated,Non Gated
16,Network,Freedom,Freedom,Freedom,Freedom,Freedom,Freedom
17,In Network (IN),NaN,NaN,NaN,NaN,NaN,NaN
18,PCP/Specialist OV Copay,30/45,30/50,0/0,30/55,30/60,0/1
19,ER Cost Share,150,160,NaN,NaN,NaN,NaN
20,Hospital Cost Share,IP: 0 after deductible OP: 0 after deductible,IP: 0 after deductible OP: 0 after deductible,IP: 0 after deductible OP: 0 after deductible,IP: 0 after deductible OP: 0 after deductible,IP: 0 after deductible OP: 0 after deductible,IP: 0 after deductible OP: 0 after deductible
21,"For Direct, EPO or Value Option Products",NaN,NaN,NaN,NaN,NaN,NaN
22,IN Deductible,2500/5000,2500/5000,2500/5001,2500/5002,2500/5003,2500/5004
23,IN Coinsurance %,100,90,91,92,93,94
24,IN Coinsurance Limit,3000/6000,32000/50000,32000/50001,32000/50002,32000/50003,32000/50004
25,IN Out of Pocket Maximum,3000/6001,32000/50000,32000/50001,32000/50002,32000/50003,32000/50004
26,Out of Network (OON):,NaN,NaN,NaN,NaN,NaN,NaN
27,OON Deductible,2500/5002,2500/5003,2500/5004,2500/5002,2500/5003,2500/5004
28,OON Coinsurance %,92,93,94,92,93,94
29,OON Coinsurance Limit,32000/50002,32000/50003,32000/50004,32000/50002,32000/50003,32000/50004
30,OON Out of Pocket Maximum,32000/50002,32000/50003,32000/50004,32000/50002,32000/50003,32000/50004